<footer class="uk-section background-tertiary uk-flex uk-flex-middle uk-flex-center">
    <div class="uk-text-center">
        <p>
            Copyright 2018 - Hack Ignite
        </p>
    </div>
</footer>