<div class="uk-section-primary uk-flex uk-flex-center uk-flex-middle">
    <div uk-grid class="uk-width-1-1 uk-width-3-4@s uk-width-2-5@l">
        <div class="uk-width-1-1">
            <h1>Create Your Account</h1>
            <form class="uk-light">
                <select class="uk-select">
                    <option></option>
                    <option></option>
                </select>
                <textarea class="uk-textarea"></textarea>
                <input class="uk-radio" type="radio">
                <input class="uk-checkbox" type="checkbox">
                <input class="uk-range" type="range">
            </form>
        </div>
    </div>
</div>