<div class="uk-section-primary uk-flex uk-flex-center uk-flex-middle vspan">
    <div uk-grid class="uk-width-1-1 uk-width-3-4@s uk-width-2-5@l">
        <div class="uk-width-1-1">
            <h1>Create Your Account</h1>
            <form class="uk-grid-small" uk-grid>
                <div class="uk-width-1-2 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
                    <input class="uk-input" type="email" placeholder="Email">
                </div>
                <div class="uk-width-1-2 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                    <input class="uk-input" type="text" placeholder="Username">
                </div>
                <div class="uk-width-1-2 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                    <input class="uk-input" type="password" placeholder="Password">
                </div>
                <div class="uk-width-1-2 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                    <input class="uk-input" type="password" placeholder="Confirm Password">
                </div>
                <div class="uk-width-1-1">
                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                        <label><input class="uk-radio uk-margin-small-right" type="radio" name="radio2">Male</label>
                        <label><input class="uk-radio uk-margin-small-right" type="radio" name="radio2">Female</label>
                    </div>
                </div>
                <div class="uk-width-1-1">
                    <div class="uk-margin">
                        <select class="uk-select select-icon-override">
                            <option>My main skill is...</option>
                            <option>Coding</option>
                            <option>Design</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>
                <div class="uk-width-1-1">
                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                        <label><input class="uk-checkbox uk-margin-small-right" type="checkbox">I've read and accepted the T&Cs</label>
                    </div>
                </div>
                <div class="uk-width-1-1">
                    <button class="uk-button uk-button-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>