// Custom variables and variable overwrites.
// Note: heights in pixels are consistent with the UIKit library
$nav-height: 80px;
$padding-section: 40px;
$footer-height: $padding-section * 3;

$global-primary-background: #FF7043;
$global-secondary-background: #42A5F5;
$global-tertiary-background: #222;
$global-link-color: $global-primary-background;


// Import default variables and available mixins.
@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";


/**
 * Custom styles
 */

// Create a "responsive flex" class - flex only applied at breakpoint
// Needed for the text on hero shot; otherwise responds poorly
@mixin hook-flex-misc() {
    @media (min-width: $breakpoint-small) {
        .uk-flex\@s { display: flex; }
    }
}

// Customise padding
@mixin hook-padding-misc() {
    .section-padding {
        padding-top: $padding-section;
        padding-bottom: 1.5 * $padding-section;
    }
}

// Span the hero vertically
.hero { height: calc(100vh - $nav-height - $padding-section * 2); }

// Change link colors in navbar
nav {
    .uk-logo, 
    .uk-navbar-nav > li.uk-active > a 
    { color: $global-primary-background !important };
}

// Change background and placeholder colors for forms
// Default theme doesn't have enough contrast
.uk-input, .uk-select {
    color: $global-color !important;
    background-color: $global-muted-background !important;
}

::-webkit-input-placeholder, ::placeholder {
    color: $global-color !important;
}

// This is hack to fix the svg icon in dropdown menus
// Otherwise appear white on white
.select-icon-override {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A") !important;
}

// Class to create a layout with navbar, footer, and something in-between
.vspan { height: calc(100vh - #{$nav-height} - #{$footer-height}); }

// Set footer height
footer {  height: $footer-height; }

// Manage the sizes and colors of Font Awesome icons
.icon-cont {
    font-size: 4em;
    color: $global-primary-background;
}

@media (min-width: $breakpoint-small) {
    .icon-cont { font-size: 5em; }
}

@media (min-width: $breakpoint-medium) {
    .icon-cont { font-size: 6em; }
}

// Add a third type of background
.background-tertiary {
    background-color: $global-tertiary-background;
}

// 4. Import UIkit.
@import "../../node_modules/uikit/src/scss/uikit-theme.scss";